USE [master]
GO
/****** Object:  Database [quanlyquancafe]    Script Date: 8/15/2022 10:44:08 PM ******/
CREATE DATABASE [quanlyquancafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlyquancafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlyquancafe.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlyquancafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlyquancafe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlyquancafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlyquancafe]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID_BAN] [int] IDENTITY(1,1) NOT NULL,
	[soban] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [char](20) NOT NULL,
	[MATHUCUONG] [char](20) NOT NULL,
	[SL] [int] NULL,
	[ID_GIA] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOAN_THUCUONG]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOAN_THUCUONG](
	[MATHUCUONG] [char](20) NOT NULL,
	[TENTHUCUONG] [nvarchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIATIEN]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIATIEN](
	[ID_GIA] [int] IDENTITY(1,1) NOT NULL,
	[MATHUCUONG] [char](20) NOT NULL,
	[GIA] [bigint] NOT NULL,
	[NGAYCAPNHAP] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](20) NOT NULL,
	[ID_BAN] [int] NOT NULL,
	[TAIKHOAN] [char](20) NULL,
	[NGAY] [datetime] NULL,
	[GHICHU] [text] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[IDLOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 8/15/2022 10:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TAIKHOAN] [char](20) NOT NULL,
	[IDLOAI] [int] NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[HOVATEN] [text] NULL,
	[NAMSINH] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([ID_BAN], [soban]) VALUES (1, 1)
INSERT [dbo].[BAN] ([ID_BAN], [soban]) VALUES (2, 2)
INSERT [dbo].[BAN] ([ID_BAN], [soban]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[BAN] OFF
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MATHUCUONG], [SL], [ID_GIA]) VALUES (N'HD202222            ', N'TU20227             ', 3, 10)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MATHUCUONG], [SL], [ID_GIA]) VALUES (N'HD20223             ', N'TU20223             ', 2, 1)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MATHUCUONG], [SL], [ID_GIA]) VALUES (N'HD202222            ', N'TU20225             ', 2, 23)
INSERT [dbo].[DOAN_THUCUONG] ([MATHUCUONG], [TENTHUCUONG]) VALUES (N'ty67                ', N'Nước Suối')
INSERT [dbo].[DOAN_THUCUONG] ([MATHUCUONG], [TENTHUCUONG]) VALUES (N'SE13                ', N'Cà Phê')
INSERT [dbo].[DOAN_THUCUONG] ([MATHUCUONG], [TENTHUCUONG]) VALUES (N'TU20222             ', N'Trà ĐÁ')
SET IDENTITY_INSERT [dbo].[GIATIEN] ON 

INSERT [dbo].[GIATIEN] ([ID_GIA], [MATHUCUONG], [GIA], [NGAYCAPNHAP]) VALUES (1, N'TU20223             ', 20000, CAST(N'2022-08-08 14:13:36.207' AS DateTime))
INSERT [dbo].[GIATIEN] ([ID_GIA], [MATHUCUONG], [GIA], [NGAYCAPNHAP]) VALUES (3, N'TU20223             ', 300000, CAST(N'2022-08-08 14:54:37.220' AS DateTime))
INSERT [dbo].[GIATIEN] ([ID_GIA], [MATHUCUONG], [GIA], [NGAYCAPNHAP]) VALUES (7, N'TU20224             ', 200000, CAST(N'2022-08-08 15:38:04.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[GIATIEN] OFF
INSERT [dbo].[HOADON] ([MAHOADON], [ID_BAN], [TAIKHOAN], [NGAY], [GHICHU], [TRANGTHAI]) VALUES (N'                    ', 0, NULL, CAST(N'2022-08-13 12:55:13.780' AS DateTime), N'', 0)
INSERT [dbo].[HOADON] ([MAHOADON], [ID_BAN], [TAIKHOAN], [NGAY], [GHICHU], [TRANGTHAI]) VALUES (N'HD202212            ', 1, NULL, CAST(N'2022-08-13 13:05:44.983' AS DateTime), N'', 1)
INSERT [dbo].[HOADON] ([MAHOADON], [ID_BAN], [TAIKHOAN], [NGAY], [GHICHU], [TRANGTHAI]) VALUES (N'HD202214            ', 1, NULL, CAST(N'2022-08-13 13:10:23.943' AS DateTime), N'trà tranh nhi?u du?ng', 1)
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] ON 

INSERT [dbo].[LOAITAIKHOAN] ([IDLOAI], [TENLOAI]) VALUES (1, N'ADMIN')
SET IDENTITY_INSERT [dbo].[LOAITAIKHOAN] OFF
INSERT [dbo].[NGUOIDUNG] ([TAIKHOAN], [IDLOAI], [MATKHAU], [HOVATEN], [NAMSINH]) VALUES (N'vinhoccac           ', 1, N'1', N'VINH', CAST(N'2000-12-04' AS Date))
INSERT [dbo].[NGUOIDUNG] ([TAIKHOAN], [IDLOAI], [MATKHAU], [HOVATEN], [NAMSINH]) VALUES (N'HINGUOIANHEM        ', 1, N'1', N'vinh dep trai', CAST(N'2020-01-01' AS Date))
/****** Object:  Index [PK_BAN]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETHOADON]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADON] ASC,
	[MATHUCUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DOAN_THUCUONG]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[DOAN_THUCUONG] ADD  CONSTRAINT [PK_DOAN_THUCUONG] PRIMARY KEY NONCLUSTERED 
(
	[MATHUCUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_GIATIEN]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[GIATIEN] ADD  CONSTRAINT [PK_GIATIEN] PRIMARY KEY NONCLUSTERED 
(
	[ID_GIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAITAIKHOAN]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[LOAITAIKHOAN] ADD  CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NGUOIDUNG]    Script Date: 8/15/2022 10:44:08 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([ID_GIA])
REFERENCES [dbo].[GIATIEN] ([ID_GIA])
GO
USE [master]
GO
